/* Parallax Header */
.parallax-header {
    // background-image: url("../media/background.mp4"; /* Replace with your background image */
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
